<div id="registerForm" class="container-fluid bg-dark text-white rounded-3 p-4">
  <form action="/user/create" method="post" style="margin-top: 2em;">
    <h2 class="mb-3 text-center">
      Selamat datang kamu!!
    </h2>
    <div class="mb-3">
      <label for="username" class="form-label">User name</label>
      <input type="text" name="username" class="form-control" id="username">
    </div>
    <div class="mb-3">
      <label for="userEmail" class="form-label">Email address</label>
      <input type="email" name="email" class="form-control" id="userEmail" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="registPassword" class="form-label">Password</label>
      <input type="password" name="password" class="form-control" id="registPassword">
    </div>
    <div class="mb-3">
      <p>Sudah punya akun? <a href="/login" class="link-info text-decoration-none">Login</a></p>
    </div>
    <button type="submit" class="btn btn-primary">Daftar</button>
  </form>
</div>